.col-1 {
    width: 8.33%;
}
/*  */
.col-2 {
    width: 16.66%;
}

.col-3 {
    width: 25%;
}

.col-4 {
    width: 33.33%;
}

.col-5 {
    width: 41.66%;
}

.col-6 {
    width: 50%;
}

.col-7 {
    width: 58.33%;
}

.col-8 {
    width: 66.66%;
}

.col-9 {
    width: 75%;
}

.col-10 {
    width: 83.33%;
}

.col-11 {
    width: 91.66%;
}

.col-12 {
    width: 100%;
}

.nav-logo {
    text-align: left;
}

.nav-heading h1 {
    text-align: right;
}

/* navbar design start here */
.navbar-menu {
    flex-direction: row;
    justify-content: flex-end;
}

.navbar-menu a {
    margin: 20px 0px;
    padding: 5px 10px;
    background-color: transparent;
}

/* navbar design end here */

/* Profile design start here */
.profile .top-weather-icon {
    right: 100px;
    width: 120px;
    transition: width 2s, transform 2s;
}

.profile .top-weather-icon:hover {
    width: 140px;
}

.profile .bottom-weather-icon {
    bottom: 20px;
    left: 140px;
    width: 120px;
    transition: width 2s, transform 2s;
}

.profile .bottom-weather-icon:hover {
    width: 140px;
}

.profile-desc p {
    color: gray;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 10px;
    width: 50%;
}

/* Profile design end here */

/* about me design start here */
.aboutme-image {
    margin-top: 100px;
}

.aboutme-image img {
    height: 270px;
    width: 250px;
}

.aboutme-desc p {
    text-align: left;
}

/* about me design end here */

/* Professional Experience Section start */
.professional-experience {
    padding: 1% 5;
}

/* Professional Experience Section end */

/* Skills Start */
.skills {
    display: flex;
}

.column-left {
    width: 50%;
    margin: 12px;
}

.column-right {
    width: 50%;
}

/* Skills end */

/* Contact Section start */


.contact button {
    width: 100px;
}

.contact button:hover {
    background-color: gray;
}

.contact-links {
    position: relative;
}

.media-buttons {
    position: absolute;
    margin-top: 200px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

/* Contact Section end */

/* Footer start */
.footer-menu {
    margin-top: 12px;
}

.footer-menu a {
    display: inline;
    margin: 10px;
    font-size: 1rem;
}

/* Footer End */
