* {
    box-sizing: border-box;
    font-family: 'Fira Sans', sans-serif;
    outline: none;
    border: none;
    text-decoration: none;
    transition: .2s linear;
}


body {
    margin: 0;
}

h1 {
    font-size: 2.5rem;
    text-align: center;
}

h2 {
    font-size: 1.5rem;
    text-align: center;
}



a {
    color: white;
    font: 1.2rem;
    text-decoration: none;
}

p {
    font-size: 1.2rem;
    text-align: justify;
}

.dotted-hr {
    border: dotted 6px black;
    border-bottom: none;
    margin: 20px auto;
    width: 70px;
}

.dotted-hr-white {
    border: dotted 6px white;
    border-bottom: none;
    margin: 20px auto;
    width: 70px;
}

[class*="col-"] {
    float: left;
    padding: 10px;
}

/* For Mobile */
[class*="col-"] {
    width: 100%;
}

/* Navebar Design start  */
.navbar {
    background-color: #591948;
    padding: 1% 7%;
    text-align: center;
}

.navbar h1 {
    color: white;
    margin: 0;
    padding-top: 10px;
}

.navbar-menu {
    display: flex;
    flex-direction: column;
    text-transform: uppercase;
}

.navbar-menu a {
    background-color: #175055;
    border-radius: 10px;
    margin: 7px 0px;
    padding: 10px;
}

.navbar-menu a:hover {
    background-color: gray;
}

.navbar::after {
    content: '';
    display: table;
    clear: both;
}


.nav-logo>a>img {
    width: 70px;
    height: 50px;
}

/* Navebar Design end here */

/* Profile Design start here */
.profile {
    padding: 130px 10px;
    position: relative;
    text-align: center;
}

.profile .top-weather-icon {
    position: absolute;
    right: 90px;
    top: 30px;
    transition: transform 2s;
}

.profile .top-weather-icon:hover {
    transform: rotate(360deg);
}

.profile-desc h1 {
    font-family: 'Satisfy', cursive;
    font-size: 3rem;
    color: blueviolet;
}


.profile-desc p {
    color: gray;
    margin: 0px auto 20px auto;
    text-align: center;
    width: 90%;
}

.profile .bottom-weather-icon {
    position: absolute;
    bottom: 10px;
    left: 60px;
    transition: transform 2s;
}

.profile .bottom-weather-icon:hover {
    transform: rotate(360deg);
}


.profile>img {
    height: 100px;
    width: 100px;
}

.profile::after {
    content: '';
    display: table;
    clear: both;
}

/* Profile Design end here */

/* About Me Section Start */
.about-me {
    background-color: #591948;
    padding: 1% 7%;
    color: white;
    text-align: center;
    font-family: 'Montserrat' sans-serif;
}


.aboutme-image img {
    border: 5px solid white;
    border-radius: 50%;
    height: 220px;
    width: 200px;
}

.about-me p {
    text-align: center;
}

.about-me a {
    font-size: 1.2rem;
}

.cv-button {
    background-color: #052d2f;
    color: white;
    border: none;
    border-radius: 12px;
    padding: 15px;
    font-size: 1rem;
    cursor: pointer;
    text-align: center;
    margin: 10px;
}

.cv-button:hover{
    background-color: gray;
}
.about-me::after {
    clear: both;
    display: table;
    content: '';
}

/* About Me Section End */



/* Education and Section start */
h1 {
    text-align: center;
    font-size: 35px;
    color: rgb(10, 238, 48);
    text-transform: uppercase;

}

.card-containt {
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    background-color: cadetblue;
    padding: 20px 0;
    justify-content: center;
    align-items: center;
}

.edu-card {
    width: 300px;
    margin: 10px;
    box-sizing: border-box;
    box-shadow: 1px 2px 4px black;
}

.edu-card .img{
    width: 300px;
    height: 250px;
}
.education>h2 {
    text-transform: uppercase;
}

.img {
    width: 100%;
}

.edu-card-body {
    padding: 5px;
    background-color: #591948;
    height: auto;
}

.card-title {
    font-size: 1.5rem;
    text-align: center;
    color: white;

}

.card-d {
    text-align: justify;
    line-height: 1.5;

    color: lightcyan;
    height: auto;
}

.edu-card:hover{
    box-shadow: 6px 12px 10px white;
}
/*  */

/* Education Section End */




/* Skills Section start */
.skills-content>h2 {
    text-transform: uppercase;
}

.column-left {
    color: white;
    
}


.skills {
    padding: 5%;
    margin: 5px;
    background-color: #591948;
}


.skills-container li {
    list-style: none;
    font-weight: bolder;
    margin: 30px 10px;
    position: relative;
    color: white;
}

.skills-container li::before {
    content: '';
    position: absolute;
    top: calc(100% + 5px);
    left: 0;
    width: 100%;
    height: 10px;
    background-color: rgb(86, 86, 153, .5);
    border-radius: 1000px;
}

.skills-container li::after {
    content: '';
    position: absolute;
    top: calc(100% + 5px);
    left: 0;
    width: 0;
    height: 10px;
    background-color: orange;
    border-radius: 1000px;
    animation-duration: 3s;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
    animation-iteration-count: unset;
}


.skills-container li.html::after {
    animation-name: html;
}

@keyframes html {
    to {
        width: 90%;
    }
}

.skills-container li.css::after {
    animation-name: css;
}

@keyframes css {
    to {
        width: 80%;
    }
}

.skills-container li.java::after {
    animation-name: java;
}

@keyframes java {
    to {
        width: 10%;
    }
}

.skills-container li.python::after {
    animation-name: python;
}

@keyframes python {
    to {
        width: 95%;
    }
}

.skills-container li.github::after {
    animation-name: github;
}

@keyframes github {
    to {
        width: 100%;
    }
}

.skills-container li.c::after {
    animation-name: c;
}

@keyframes c {
    to {
        width: 70%;
    }
}

@media sceen {
    #toggleDark {
        font-size: 40px;
        cursor: pointer;
        position: absolute;
        right: 56px;
        margin: 10px;
    }
}

/* Skills Section End */

/* Contact Section Start */

.contact-me {
    padding: 1% 0%;
    background-color: #591948;
    color: white;
}

.contact-me>h2 {
    text-transform: uppercase;
}


.contact {
    padding: 1% 7%;
    text-align: center;
}

.contact input,
textarea {
    width: 100%;
    padding: 10px;
    font-size: 1rem;
    text-align: center;
    border: none;
    border-radius: 5px;
    resize: none;
}

.contact button {
    border: none;
    border-radius: 12px;
    background-color: #052d2f;
    color: white;
    cursor: pointer;
    padding: 15px;
    margin: 10px;
    width: 100px;
}

.contact-links {
    text-align: center;
}

.media-buttons .btn {
    border: none;
    border-radius: 25px;
    cursor: pointer;
    font-size: 32px;
    margin: 10px;
    width: 50px;
    background-color: white;
}

.btn:hover {
    background-color: gray;
}

.contact-me::after {
    content: '';
    display: flex;
    clear: both;
}


/* Links colorized */

/* Contact Section End */






/* project start */
.container {
    background: linear-gradient(45deg, blueviolet, lightgreen);
    padding: 15px 9%;
    padding-bottom: 100px;
}

.container .heading {
    text-align: center;
    padding-bottom: 15px;
    color: #fff;
    text-shadow: 0 5px 10px rgba(0, 0, 0, .2);
    font-size: 50px;
}

.container .box-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
    gap: 15px;
}

.container>h2 {
    text-transform: uppercase;
}

.container .box-container .box {
    box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
    border-radius: 5px;
    background: #fff;
    text-align: center;
    padding: 30px 20px;
}

.container .box-container .box img {
    position: relative;
    width: 100%;
    height: 260px;
    overflow: hidden;
    border-radius: 10px;
}

.container .box-container .box h3 {
    color: #444;
    font-size: 22px;
    padding: 10px 0;
}

.container .box-container .box p {
    color: #777;
    font-size: 15px;
    line-height: 1.8;
}

.container .box-container .box .btn {
    margin-top: 10px;
    display: inline-block;
    background: #333;
    color: #fff;
    font-size: 17px;
    border-radius: 5px;
    padding: 8px 25px;
}

.container .box-container .box .btn:hover {
    letter-spacing: 1px;
}

.container .box-container .box:hover {
    box-shadow: 0 10px 15px rgba(0, 0, 0, .3);
    transform: scale(1.03);
}

.container .box-container .box img {
    box-shadow: 0 10px 15px rgba(0, 0, 0, .3);
    transform: scale(1.03);
}

@media (max-width:768px) {
    .container {
        padding: 20px;
    }
}

/* project end*/


/* Footer start */
.footer {
    background-color: black;
    color: white;
    padding: 20px;
    text-align: center;
    font-size: 0.8rem;
}

.footer-menu {
    padding: 60px;
}

.copyright {
    text-align: center;
    padding: 40px;
}

.footer-menu a {
    display: block;
    margin: 15px 0;
    padding: 5px;
    font-size: 1rem;
    border-radius: 10px;
}

.footer-menu a:hover {
    color: black;
    background-color: gray;
}


.footer::after {
    content: '';
    display: table;
    clear: both;
}



.footer-cesc.social {
    width: 100%;
    margin: 0 auto;
    text-align: center;
    padding: 40px;
    padding-bottom: 0px;
    border-top: 1px solid #eee;
    margin-top: 50px;
}

.footer-cesc .social a {
    font-size: 22px;
    width: 45px;
    height: 45px;
    line-height: 39px;
    display: inline-block;
    border-radius: 50%;
    border: 2px solid #05ff05;
    box-shadow: 0px 0px 0px 1px rgba(255, 255, 255, 0.4);
    margin: 10px;
    color: #fff;
    opacity: 0.7;
    transition: 0.3s ease-in-out;
}

.footer-cesc .social a:hover {
    opacity: 0.9;
    box-shadow: 0px 1px 3px 2px rgba(255, 255, 255, 0.9);
}

.footer-cesc .copyright {
    text-align: center;
    padding-top: 50px;
    font-weight: 500;
    opacity: 0.8;
    font-size: 16px;
    display: inline-block;
}

/* Footer End */